<%- include('header.ejs') %>
<main class="mw detail">
    <h2>예지'S BLOG</h2>
    <!-- <h3>상세페이지</h3> -->
    <div>
        <h4><%= posts.title %></h4>
        <p class="writeInfo">
            <a href="/personal/<%= posts.userId %>"><%= posts.userName %></a> / 
            <%
            const serverPostDate = new Date(posts.date)
            const datePostStr = serverPostDate.toISOString().slice(0,10)
            %>
            <%= datePostStr %> / 
            좋아요: <%= like.totalLike %>
            <% if(like.likeMember && Array.isArray(like.likeMember)){ %>
                <%- like.likeMember.map(m => `<a href="/personal/${m}">${m}</a>`) %>
            <% } %>
        </p>
        <div class="imgArea">
            <% if(posts.postImgPath == null){ %>
                <img src="/img-not-found.jpg" alt="이미지 없음">
            <% } else { %>
                <img src="<%= posts.postImgPath %>" alt="<%= posts.postImgPath %>">
            <% } %>
        </div>
        <div class="txtArea"><%= posts.content %></div>
    </div>
    <div class="btnArea"> 
        <% if(user && user.userId === posts.userId){ %>
            <button class="btnEdit">수정</button>
            <button class="btnDel">삭제</button>
        <% } %>
        <button class="btnList">목록</button>
        <button class="btnLike">좋아요</button>
    </div>

    <div class="comments">
        <h3>댓글</h3>
        <% if(user){ %>
        <form id="commentForm">
            <textarea name="commentText" id="commentText" placeholder=""></textarea>
            <button type="submit">댓글작성</button>
        </form>
        <% } else { %>
            <p>댓글을 작성하시려면 <a href="/login">로그인</a>해주세요.</p>
        <% } %>

        <ul class="commentList">
            <% if(comments && comments.length > 0){ %>
                <% comments.map(data => { %>
                    <li class="comment">
                        <p><%= data.comment %></p>
                        <p><a href="/personal/<%= data.userId %>"><%= data.userName %></a></p>
                        <p>
                            <%
                            const serverDate = new Date(data.date)
                            const dateStr = serverDate.toISOString().slice(0,10)
                            %>
                            <%= dateStr %>
                        </p>
                    </li>
                <% }) %>
            <% } else { %>
                <li>등록된 댓글이 없습니다.</li>
            <% } %>
        </ul>
    </div>  
</main>

<script>
    const btnEdit = document.querySelector('.btnEdit');
    if(btnEdit){
        btnEdit.addEventListener('click', ()=>{
            location.href=`/edit/<%= posts._id %>`
        })
    }

    const btnDel = document.querySelector('.btnDel');
    if(btnDel){
        btnDel.addEventListener('click', ()=>{
            const postId = `<%= posts._id %>`
            fetch(`/delete/${postId}`, {
                method: 'POST', 
                headers: {
                    'Content-type': 'application/json',
                },
                body: JSON.stringify({_method: 'DELETE'})
            }).then(res => {
                console.log(res);
                if(res.ok){
                    // 삭제 성공 시
                    alert('삭제 완료')
                    location.href='/'
                }
            })
        });
    }

    const btnList = document.querySelector('.btnList');
    btnList.addEventListener('click', ()=>{
        location.href='/'
    });

    const btnLike = document.querySelector('.btnLike');
    const user = `<%= user ? user.userId : '' %>`;
    btnLike.addEventListener('click', async ()=>{
        if(!user){
            alert('로그인 시 사용 가능한 기능입니다.');
            window.location.href='/login';
        }else{
            fetch('/like/<%= posts._id %>', {
                method: 'POST',
            }).then( res => {
                if(res.ok){
                    alert('좋아요 버튼이 클릭되었습니다.');
                    location.reload();
                }
            })
        }
    })

    const commentForm = document.querySelector('#commentForm');
    const commentText = document.querySelector('#commentText');
    commentForm.addEventListener('submit', (e)=>{
        e.preventDefault();
        const comment = commentText.value.trim();

        if(!comment){
            alert('댓글을 작성해주세요.');
            return;
        }

        fetch('/comment/<%= posts._id %>', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({comment})
        })
        .then(res => res.json())
        .then(data => {
            if(data.success){
                location.reload();
            } else {
                alert('댓글이 작성되지 않았습니다. 다시 한번 시도해주세요.')
            }
        })
    })
</script>
<%- include('footer.ejs') %>