<%- include('header.ejs') %>
<main class="mw edit">
    <h2>예지'S BLOG</h2>
    <h3>글수정</h3>
    <form action="/edit" method="post" class="writeCon" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="PUT">
            <label for="title">제목</label>
            <input type="text" name="title" id="title" value="<%= posts.title %>" required>

            <input type="text" id="id" name="id" value="<%= posts._id %>" hidden>

            <label for="content">내용</label>
            <textarea name="content" id="content" required><%= posts.content %></textarea>

            <label for="postImg">이미지 첨부</label>
            <input type="file" id="postImg" name="postImg">
            <input type="text" id="postImgOld" name="postImgOld" value="<%= posts.postImgPath %>" hidden>
            <div><img src="<%= posts.postImgPath %>" alt="<%= posts.postImgPath %>" style="width: 100%; margin-bottom: 1rem;"></div>

            <label for="date" hidden>작성일</label>
            <input type="date" id="date" name="date" hidden>

            <div class="btnArea">
                <button type="submit">수정</button>
                <button class="btnCancel">취소</button>
            </div>
    </form>
</main>

<script>
    let today = new Date().toISOString().slice(0, 10)
    const date = document.querySelector('#date')
    date.value = today

    const btnCancel = document.querySelector('.btnCancel');
    btnCancel.addEventListener('click', ()=>{
        location.href='/'
    });
</script>
<%- include('footer.ejs') %>