<%- include('header.ejs') %>
<main class="mw">
    <h2>예지'S BLOG</h2>
    <h3>All blog posts</h3>
    <ul class="lists">
        <% if(posts.length == 0){ %>
            <li>포스트가 없습니다.</li>
        <% } else { %>
            <% posts.map(post => { %>
                <li class="card">
                    <p hidden><%= post._id %></p>
                    <div class="imgArea">
                        <% if(post.postImgPath == null){ %>
                            <img src="/img-not-found.jpg" alt="이미지 없음">
                        <% } else { %>
                            <img src="<%= post.postImgPath %>" alt="<%= post.title %>">
                        <% } %>
                    </div>
                    <div class="info">
                        <h4 class="title"><%= post.title %></h4>
                        <p class="desc"><%= post.content %></p>
                        <div><span class="writer"><%= post.userName %></span><span class="date"><%= post.date %></span></div>
                    </div>
                    <a class="more" href="/detail/<%= post._id %>">자세히 보기</a>
                </li>
            <% }).join('') %>
        <% } %>
    </ul>
</main>
<%- include('footer.ejs') %>